GOOGLE_SHEETS_ID=ID_DA_PLANILHA
GOOGLE_SERVICE_ACCOUNT_EMAIL=vehjo-ciclus@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA\n-----END PRIVATE KEY-----\n"

